.banner-detail {
  background-size: cover;
  height: 668px;
  margin-top: 80px;
  background-image: url("/images/detail-jogja.png");
  background-position: center;
  border-radius: 25px;
}
.banner-content {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  color: white;
}

.banner-detail-title {
  font-size: 92px;
  font-weight: 600;
}

.banner-detail-title2 {
  font-size: 40px;
  font-weight: 600;
}
.banner-detail-title3 {
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 200px;
  border-radius: 14px;
  background: rgba($color: #d9d9d9, $alpha: 0.7);
}

.card-detail-wisata {
  max-width: 470px;
  max-height: 456px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #d9d9d9;
}
.tujuan-wisata {
  margin-bottom: 70px;
}

.tujuan-wisata li {
  color: rgba(2, 4, 21, 0.8);
  font-size: 20px;
  font-weight: 600;
  margin: 13px 80px;
}

.peserta-harga li {
  display: flex;
  color: rgba(2, 4, 21, 0.8);
  background-color: white;
  margin-top: 10px;
  border-radius: 12px;
  padding: 8px 40px;
  margin-left: 5px;
}

.peserta-harga li span {
  margin-left: auto;
}

.ketentuan {
  border-radius: 30px !important;
  background: #d9d9d9;
}

.syarat-ketentuan li {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.accordion-header {
  margin-bottom: 10px;
}

.accordion-icon {
  border: solid;
  width: 21px;
  height: 21px;
  text-align: center;
  display: inline-flex; /* Menggunakan inline-flex untuk penataan yang lebih baik */
  align-items: center; /* Posisikan di tengah secara vertikal */
  justify-content: center; /* Posisikan di tengah secara horizontal */
}
